node_modules/
.DS_Store
*.log
.env
.vscode/
__pycache__/
*.pyc
venv/
*.swp
*.swo
# Allow .bin# Models
/models/*
!/models/*/
!/models/*.glb
!/models/*.gltf

# Data files
/data/*
!/data/*/
!/data/*.dat
!/data/*.patt
!/data/*/*.bin

# Ignore other .bin files
*.bin
*.patt
